@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url('/font/Inter-UI.var.woff2') format("woff2-variations"),
       url("/font/Inter-UI-Regular.woff2") format("woff2"),
       url("/font/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url('/font/Inter-UI.var.woff2') format("woff2-variations"),
       url("/font/Inter-UI-Italic.woff2") format("woff2"),
       url("/font/Inter-UI-Italic.woff") format("woff");
}


@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url('/font/Inter-UI.var.woff2') format("woff2-variations"),
       url("/font/Inter-UI-Bold.woff2") format("woff2"),
       url("/font/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url('/font/Inter-UI.var.woff2') format("woff2-variations"),
       url("/font/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("/font/Inter-UI-BoldItalic.woff") format("woff");
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;  
}

body, html {
  padding: 3vh 15vw;
  font-family: 'Inter UI', sans-serif;
}

p {
  font-size: 100%;
  line-height: 1.6em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 24px;
  line-height: 1.2;
}

h2 {
  font-size: 22px;
  line-height: 1.15;
}

h3 {
  font-size: 20px;
  line-height: 1.15;
}

h4 {
  font-size: 18px;
  line-height: 1.15;
}

h5 {
  font-size: 16px;
  line-height: 1.1;
}

h6 {
  font-size: 14px;
  line-height: 1.1;
}

@media (min-width: 981px) {
  h1 {
    font-size: 32px;
    line-height: 1.28;
  }
  h2 {
    font-size: 28px;
    line-height: 1.15;
  }
  h3 {
    font-size: 24px;
    line-height: 1.15;
  }
  h4 {
    font-size: 20px;
    line-height: 1.15;
  }
  h5 {
    font-size: 18px;
    line-height: 1.1;
  }
  h6 {
    font-size: 16px;
    line-height: 1.1;
  }

}


a {
  position: relative;  
  text-decoration: none;
  color: #222;
  transition: opacity 0.3s;  
}

p a {
  opacity: 0.7;
  color: #149a24;
}

header {
  padding: 2em 0;
  max-width: 700px;
  margin: auto;
}

p a:after {
  position: absolute;
  content: '';
  height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px; 


  /****** 
  optional values below 
  ******/
  
  /* center - (optional) use with adjusting width   */  
  left: 0;  
  width: 0%;
  background: green;

  /* optional animation */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

/* optional hover classes used with anmiation */
p a:hover:after {
  width: 100%;
  background: #f9415d;
}

p a:hover {
  opacity: 1;
}

p,
li {
}

ul {
  list-style: none;
}
